@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
    font-family: 'Bebas Neue', cursive;
    background-color: #333;
    color: #ccc;
    letter-spacing: 0.1em;
}

button {
    color: #E18100;
    background: none;
    border: 2px solid #E18100;
}

#main {
    max-width: 1200px;
    margin: auto;
}